{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block head_title %}
Checkout
{% endblock head_title %}

{% block content %}
<div class="container py-5">
    <h2>Checkout</h2>
    <hr>
    <br><br>
    <div class="row">
        <div class="col-lg-5 mx-auto border rounded-4 p-5 shadow">
            <h3>Details</h3>
            <hr>
            <div class="container">
                <form action=""
                    method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="text-end my-2">
                        <button type="submit"
                            class="btn btn-sm btn-outline-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mx-auto border rounded-4 bg-dark text-light p-5">
            <h5 class="text-light">Your Order Total: 
                <span class="float-end">${{ cart.get_total_price_after_discount|intcomma }}</span>
            </h5>
            <hr>
            {% if cart.coupon %}
            <p class="text-end text-danger">"{{cart.coupon.code}}" -{{ cart.coupon.discount }}%</p>
            {% endif %}
            <hr>
            <br><br><br>
            <table class="table">
                <tbody>
                    {% for item in cart %}
                    <tr class="text-light">
                        <td class="text-light">{{item.quantity}} | 
                            {{item.product.product_name}}
                        </td>
                        <td class="text-end">${{item.total_price|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}