{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
Products
{% endblock head_title %}

{% block content %}
<div class="container py-3">

  <div class="row row-cols-1 row-cols-md-5 g-4">
    {% for product in object_list %}
    <a class="text-decoration-none text-dark"
      href="{{product.get_absolute_url}}">
      <div class="col">
        <div class="card border-info bg-info border rounded-4">
          <img src="{{product.primary_image.url}}"
            class="card-img-top rounded-top-4"
            alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold">${{product.price}}</h5>
          </div>
        </div>
      </div>
    </a>
    {% empty %}
    <div class="w-100">
      <p class="text-center">No Products</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}